In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
data = pd.read_csv('fb-pages-food.edges',header=None,names=['begin','end'])
data.head()

   begin  end
0      0  276
1      0   58
2      0  132
3      0  603
4      0  398

In [3]:
mapping = pd.read_csv('fb-pages-food.nodes')
mapping.head()

                id                     name  new_id
0  402449106435352               Josh Marks     386
1     368969274888  Blue Ribbon Restaurants     473
2  765596333518863                Pat Neely       1
3  136870209668885               La Griglia     542
4  840078802741859              Jose Garces     189

In [4]:
data = data.values
data[:5]

array([[  0, 276],
       [  0,  58],
       [  0, 132],
       [  0, 603],
       [  0, 398]], dtype=int64)

In [5]:
def findname(num):
    names = mapping.loc[(mapping['new_id']==num)]
    name = names['name'].values[0]
    return name

In [6]:
links = []
for row in data:
    tmp = {"source":findname(row[0]),"target":findname(row[1])}
    links.append(tmp)

In [9]:
with open('links.json','w') as fp:
    json.dump(links,fp,indent=4)