In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
data = pd.read_table("email-Eu-core.txt",sep=" ",header=None,names=['begin','end'])
data

       begin  end
0          0    1
1          2    3
2          2    4
3          5    6
4          5    7
...      ...  ...
25566    420  143
25567    174  859
25568    440  460
25569     52  786
25570    506  932

[25571 rows x 2 columns]

In [3]:
point = []
for i in data['begin']:
    if i not in point:
        point.append(i)
for j in data['end']:
    if j not in point:
        point.append(j)
point.sort()

In [4]:
nodes = []
for i in point:
    tmp = {"name":i}
    nodes.append(tmp)
nodes[:10]

[{'name': 0},
 {'name': 1},
 {'name': 2},
 {'name': 3},
 {'name': 4},
 {'name': 5},
 {'name': 6},
 {'name': 7},
 {'name': 8},
 {'name': 9}]

In [5]:
point[-1:]

[1004]

In [6]:
data = data.values
data[:10]

array([[ 0,  1],
       [ 2,  3],
       [ 2,  4],
       [ 5,  6],
       [ 5,  7],
       [ 8,  9],
       [10, 11],
       [12, 13],
       [12, 14],
       [15, 16]], dtype=int64)

In [7]:
links = []
for row in data:
    tmp = {"source":row[0],"target":row[1]}
    links.append(tmp)
links[:10]

[{'source': 0, 'target': 1},
 {'source': 2, 'target': 3},
 {'source': 2, 'target': 4},
 {'source': 5, 'target': 6},
 {'source': 5, 'target': 7},
 {'source': 8, 'target': 9},
 {'source': 10, 'target': 11},
 {'source': 12, 'target': 13},
 {'source': 12, 'target': 14},
 {'source': 15, 'target': 16}]

In [8]:
test = {"nodes":nodes,"links":links}

In [9]:
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        elif isinstance(obj, np.floating):
            return float(obj)
        elif isinstance(obj, np.ndarray):
            return obj.tolist()
        else:
            return super(NpEncoder, self).default(obj)

In [10]:
with open("testemail.json","w") as fp:
    json.dump(test,fp,cls=NpEncoder,indent=4)