In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
data = pd.read_csv('fb-pages-food.edges',header=None,names=['begin','end'])
data.head()

   begin  end
0      0  276
1      0   58
2      0  132
3      0  603
4      0  398

In [3]:
mapping = pd.read_csv('fb-pages-food.nodes')
mapping.head()

                id                     name  new_id
0  402449106435352               Josh Marks     386
1     368969274888  Blue Ribbon Restaurants     473
2  765596333518863                Pat Neely       1
3  136870209668885               La Griglia     542
4  840078802741859              Jose Garces     189

In [4]:
point = []
for i in data['begin']:
    if i not in point:
        point.append(i)
for j in data['end']:
    if j not in point:
        point.append(j)
len(point)

620

In [5]:
point.sort()
point[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
nodes = []
for i in point:
    names = mapping.loc[(mapping['new_id']==i)]
    name = names['name'].values[0]
    tmp = {"name":name}
    nodes.append(tmp)
nodes[:5]

[{'name': 'Lee Anne Wong'},
 {'name': 'Pat Neely'},
 {'name': 'Ben Sargent & Dr. Klaw'},
 {'name': 'Chef Carlo Cracco'},
 {'name': 'George Pagonis'}]

In [7]:
data = data.values
data[1]

array([ 0, 58], dtype=int64)

In [8]:
links = []
for row in data:
    tmp = {"source":row[0],"target":row[1]}
    links.append(tmp)
links[:5]

[{'source': 0, 'target': 276},
 {'source': 0, 'target': 58},
 {'source': 0, 'target': 132},
 {'source': 0, 'target': 603},
 {'source': 0, 'target': 398}]

In [9]:
test = {"nodes":nodes,"links":links}

In [10]:
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        elif isinstance(obj, np.floating):
            return float(obj)
        elif isinstance(obj, np.ndarray):
            return obj.tolist()
        else:
            return super(NpEncoder, self).default(obj)

In [11]:
with open("testfbtxt.json","w") as fp:
    json.dump(test,fp,cls=NpEncoder,indent=4)