In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
data = pd.read_csv("./soc-sign-bitcoinalpha.csv", header=None, names=['source','target','weight','time'])
data.head()

   source  target  weight        time
0    7188       1      10  1407470400
1     430       1      10  1376539200
2    3134       1      10  1369713600
3    3026       1      10  1350014400
4    3010       1      10  1347854400

In [3]:
source=[]
for i in data['source']:
    if i not in source:
        source.append(i)
len(source)

3286

In [4]:
source.sort()
source[3285]

7604

In [5]:
nodes = []
for i in source:
    tmp = {"name":i,"group":i%10}
    nodes.append(tmp)
nodes[:5]

[{'name': 1, 'group': 1},
 {'name': 2, 'group': 2},
 {'name': 3, 'group': 3},
 {'name': 4, 'group': 4},
 {'name': 5, 'group': 5}]

In [6]:
data = data.values
data

array([[      7188,          1,         10, 1407470400],
       [       430,          1,         10, 1376539200],
       [      3134,          1,         10, 1369713600],
       ...,
       [      7604,       7602,         10, 1364270400],
       [      7602,       7604,         10, 1364270400],
       [      7604,       7603,        -10, 1364270400]], dtype=int64)

In [7]:
def findele(num,source):
#     print(len(source))
    for i in range(len(source)):
        if source[i] == num:
            return i
    return 0

In [8]:
links = []
for row in data:
    a = findele(row[0],source)
    b = findele(row[1],source)
    tmp = {"source":a,"target":b,"value":row[2]}
    links.append(tmp)
# links[:20]

In [9]:
test = {"nodes":nodes,"links":links}

In [10]:
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        elif isinstance(obj, np.floating):
            return float(obj)
        elif isinstance(obj, np.ndarray):
            return obj.tolist()
        else:
            return super(NpEncoder, self).default(obj)

In [11]:
with open("test.json","w") as fp:
    json.dump(test,fp,cls=NpEncoder,indent=4)