In [1]:
from math import sqrt
from pygraph.classes.digraph import digraph
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv("relation_message.csv",header=None,names=['begin','end','relationship'])

In [3]:
class HITSIterator:
    __doc__ = "FILE_PATH"
    
    def __init__(self,dg):
        # 最大迭代次数
        self.max_iterations = 100
        # 迭代结束条件
        self.min_delta = 0.0001
        self.graph = dg
        
        self.hub = {}
        self.authority = {}
        for node in self.graph.nodes():
            self.hub[node] = 1
            self.authority[node] = 1
            
    def hits(self):
        # 计算每个页面的hub、authority值
        
        if not self.graph:
            return
        
        flag = False
        # 遍历迭代
        for i in range(self.max_iterations):
            # 记录每轮的变化值
            change = 0.0
            # 标准化系数
            norm = 0
            tmp = {}
            # 计算每个页面的authority值
            tmp = self.authority.copy()
            for node in self.graph.nodes():
                self.authority[node] = 0
                # 遍历所有入射页面
                for incident_page in self.graph.incidents(node):
                    self.authority[node] += self.hub[incident_page]
                norm += pow(self.authority[node],2)
            # 标准化
            norm = sqrt(norm)
            for node in self.graph.nodes():
                self.authority[node] /= norm
                change += abs(tmp[node] - self.authority[node])
                
            # 计算每个页面的hub值
            norm = 0
            tmp = self.hub.copy()
            for node in self.graph.nodes():
                self.hub[node] = 0
                # 遍历所有出射页面
                for neighbor_page in self.graph.neighbors(node):
                    self.hub[node] += self.authority[neighbor_page]
                norm += pow(self.hub[node],2)
            # 标准化
            norm = sqrt(norm)
            for node in self.graph.nodes():
                self.hub[node] /= norm
                change += abs(tmp[node] - self.hub[node])
                
#             print("This is No. %s iteration" % (i + 1))
#             print("authority",self.authority)
#             print("hub",self.hub)
            
            if change < self.min_delta:
                flag = True
                break
        if flag:
            print("finished in %s iterations!" % (i + 1))
        else:
            print("finished out of 100 iterations!")
            
#         print("===============================================================")
#         print("The best authority page:",self.authority.items())
#         print("===============================================================")
#         print("The best hub page:",self.hub.items())
        return self.authority.items(),self.hub.items()

In [4]:
data

        begin     end relationship
0       tonys   rhody       friend
1       tonys   hawke       friend
2       tonys  stever       friend
3       tonys  falcon       friend
4       tonys   nickf       friend
...       ...     ...          ...
1139  stanlee   eriks       friend
1140  stanlee   tonys       friend
1141  stanlee   rhody       friend
1142  stanlee    thor       friend
1143  stanlee  stever       friend

[1144 rows x 3 columns]

In [5]:
nodes = pd.read_csv("message.csv",header=None,names=['name','fullname','isalive','intro'])

In [6]:
nodes

          name          fullname isalive      intro
0        tonys        Tony Stark   alive      human
1       stever      Steve Rogers   alive      human
2       bruceb      Bruce Banner   alive      human
3         thor              Thor   alive  asgardian
4       blackw  Natasha Romanoff   alive      human
..         ...               ...     ...        ...
177     ebonym     The Ebony Maw   alive    unknown
178  obsidianc     Obsidian Cull   alive    unknown
179   outrider         Outriders   alive    unknown
180     bettyb       Betty Brant   alive      human
181    stanlee          Stan Lee     NaN      human

[182 rows x 4 columns]

In [7]:
dg = digraph()

In [8]:
nodes_list = list(nodes['name'].values)
dg.add_nodes(nodes_list)
for row in data.values:
    try:
        dg.add_edge((row[0],row[1]))
    except:
        continue

In [9]:
hits = HITSIterator(dg)
auth_val,hub_val = hits.hits()

finished in 22 iterations!

In [10]:
auth_val

dict_items([('tonys', 0.024694475587717042), ('stever', 0.19393878730470748), ('bruceb', 0.14792659237199662), ('thor', 0.13765902683286393), ('blackw', 0.19272166768830978), ('rhody', 0.09805639238120958), ('hawke', 0.1930822997431318), ('nickf', 0.21817504605873023), ('falcon', 0.21404707592285538), ('vision', 0.24130448834716214), ('wandam', 0.23554259237557076), ('pietrom', 0.1886161288250593), ('ultronu', 0.19713916931101982), ('helenc', 0.03267444879075297), ('ultrons', 0.19537510871697691), ('mariah', 0.16978791033119273), ('wolfgangv', 0.17261388462325944), ('list', 4.00637999271691e-49), ('peggyc', 0.052715911858342165), ('heimdall', 0.07740667753552014), ('laurab', 0.019726246400506808), ('madameb', 0.02652120032584049), ('ulyssesk', 0.023181483195289898), ('pepperp', 0.03010524125660259), ('happyh', 0.03675203446932099), ('howardso', 0.032415716392897004), ('marias', 0.03120550402351984), ('obadiahs', 0.03720382740797158), ('yinsen', 0.03010524125660259), ('raza', 0.030288841966008465), ('abub', 0.030288841966008465), ('jarvis', 0.0), ('christinee', 0.03010524125660259), ('philc', 0.09304919693403808), ('whiplash', 0.056183155738741386), ('antonvo', 0.0026220275336716367), ('justinh', 0.05570349231657567), ('stern', 0.05007814486661635), ('aldrichk', 0.05384407186423735), ('mayah', 0.034959049107316106), ('trevors', 0.05147806829873243), ('erics', 0.034304074004756414), ('ellenb', 0.03216710050296172), ('jackt', 0.0046160071020517664), ('matthewe', 0.02194481816428256), ('harleyk', 0.030863377274734004), ('jacksonn', 0.0), ('bettyr', 0.02192973362743307), ('thunderboltr', 0.09952159641351169), ('emilb', 0.031017419926175387), ('samuels', 0.03220515466460361), ('leonards', 0.03200993751979716), ('loki', 0.12503487814024128), ('odin', 0.04351992287881143), ('frigga', 0.050467887871635995), ('sif', 0.06129713725915502), ('volstagg', 0.06621569872386324), ('hogun', 0.07172496757363335), ('fandral', 0.07672243891490094), ('janef', 0.06848667860004244), ('eriks', 0.09739563556457442), ('darcyl', 0.03166394941963615), ('laufey', 0.07624578090748386), ('destroyer', 0.0808062258124528), ('jaspers', 0.10883710667332215), ('malekith', 0.0916354751999718), ('algrim', 0.08664339764904701), ('darkelf', 0.09490308542430015), ('asgardian', 0.08531836575208507), ('bor', 0.04598314771799824), ('hela', 0.09504775102502991), ('valk', 0.06789599911692348), ('skurge', 0.06861639501545129), ('korg', 0.05625932781539915), ('miek', 0.057125575051035465), ('grandm', 0.06738744653812606), ('topaz', 0.05312567938920896), ('surtur', 0.08577896152588789), ('fenris', 0.06789599911692348), ('bucky', 0.1476843020675886), ('dumdum', 0.04478697580720214), ('gabej', 0.04662450625417968), ('jimm', 0.04817941503792704), ('jamesm', 0.04944227686418912), ('chesterp', 0.052211857662176876), ('abrahame', 0.030825868732623593), ('johanns', 0.053966156288997306), ('arnimz', 0.07532549300744715), ('alexanderp', 0.09639912591702486), ('brockr', 0.06982952024356401), ('jackr', 0.05918932630966062), ('sharonc', 0.0856784838098395), ('georgesb', 0.05809970546171153), ('tchalla', 0.1562931071533726), ('tchaka', 0.047761667959150024), ('everettr', 0.08698780175774466), ('helmutz', 0.1740956015049435), ('chitauri', 0.16985121506073114), ('other', 0.015801013549066295), ('ironl', 0.03010524125660259), ('thanos', 0.016654127681706127), ('peterq', 0.0), ('gamora', 0.00020286705580102458), ('drax', 0.0005042283302645977), ('rocket', 0.0008025320855735374), ('groota', 0.0010003268275084218), ('yonduu', 0.001190845165407556), ('nebula', 0.0012919673947897864), ('ronan', 0.0014444618170806718), ('korath', 0.0015994934326227091), ('collector', 0.012705031284028927), ('carina', 1.8464533321101682e-06), ('rhomannd', 0.0015481212397140541), ('garthans', 0.0015884522660444735), ('iranir', 0.0016191512441212207), ('novac', 0.0016400319716566737), ('howardd', 0.00010296868271434057), ('meredithq', 0.00020286705580102458), ('kraglino', 0.0018034622205644454), ('cosmo', 0.00019964119526699457), ('mantis', 0.0014747305761903062), ('ego', 0.0015010577700363395), ('ayesha', 0.0013394610140398243), ('taserf', 0.0006762997483413073), ('stakaro', 0.00010238430393998362), ('martinex', 0.00010568022756621803), ('krugarr', 0.0001070730376587135), ('charlie', 0.00010907842974924054), ('aletao', 0.0001104221581282481), ('mainf', 0.00011109606738284752), ('scottl', 0.17782332844414372), ('hankp', 0.0025369718175180978), ('hopev', 0.003152520702298948), ('darrenc', 0.0032329214335186846), ('maggiel', 0.0025369718175180978), ('cassiel', 0.0026296558317478826), ('luis', 0.003309665385113383), ('kurt', 0.0033504072380280405), ('dave', 0.003370840092721655), ('stephens', 0.04351992287881143), ('karlm', 0.0009139779902138525), ('anciento', 0.0008795419933250323), ('kaecilius', 0.0009428737660838548), ('christinep', 0.0008795419933250323), ('wong', 0.0009545526182673086), ('jonathanp', 0.0009428737660838548), ('hamir', 0.0009545526182673086), ('dormammu', 0.0009721241527213577), ('peterp', 0.1803603002616618), ('mayp', 0.03198748667795627), ('nedl', 0.0020443269839489856), ('michellej', 0.002402109197730249), ('lizt', 0.0024669490022683938), ('adriant', 0.03275579096827686), ('eugenet', 0.002715389516212414), ('aarond', 0.0018822454213536757), ('jacksonb', 0.0024107056422334487), ('hermans', 0.003155975282102484), ('phineasm', 0.0028086437181882415), ('macg', 0.0026329410582083953), ('annem', 0.03122089000855494), ('principalm', 0.0027655797857043547), ('erikk', 0.009272333604750244), ('nakia', 0.013986851482827559), ('okoye', 0.015634560788307564), ('shuri', 0.011032505999751615), ('ramonda', 0.017514140404127132), ('wkabi', 0.020221330153177175), ('mbaku', 0.021263974066901902), ('zuri', 0.019939254197469895), ('njobu', 0.01285540531193913), ('miningt', 0.017335134329043673), ('bordert', 0.018547076837963625), ('rivert', 0.019321525622662827), ('merchantt', 0.01800451509028225), ('midnightp', 4.173356174325833e-26), ('corviusg', 8.008611851312632e-26), ('ebonym', 1.1195057425154692e-25), ('obsidianc', 1.3474546025980837e-25), ('outrider', 1.466240704399283e-25), ('bettyb', 0.002748815823596312), ('stanlee', 0.0)])

In [11]:
print(len(list(auth_val)))
authdf = pd.DataFrame(auth_val)

182

In [12]:
authdf

             0             1
0        tonys  2.469448e-02
1       stever  1.939388e-01
2       bruceb  1.479266e-01
3         thor  1.376590e-01
4       blackw  1.927217e-01
..         ...           ...
177     ebonym  1.119506e-25
178  obsidianc  1.347455e-25
179   outrider  1.466241e-25
180     bettyb  2.748816e-03
181    stanlee  0.000000e+00

[182 rows x 2 columns]

In [20]:
authdf.sort_values(by=1,ascending=False)[:10]

          0         1
9    vision  0.241304
10   wandam  0.235543
7     nickf  0.218175
8    falcon  0.214047
12  ultronu  0.197139
14  ultrons  0.195375
1    stever  0.193939
6     hawke  0.193082
4    blackw  0.192722
11  pietrom  0.188616

In [19]:
authdf[:10]

        0         1
0   tonys  0.024694
1  stever  0.193939
2  bruceb  0.147927
3    thor  0.137659
4  blackw  0.192722
5   rhody  0.098056
6   hawke  0.193082
7   nickf  0.218175
8  falcon  0.214047
9  vision  0.241304

In [23]:
hubdf = pd.DataFrame(hub_val)
hubdf

             0             1
0        tonys  3.866753e-01
1       stever  3.602632e-01
2       bruceb  2.816675e-01
3         thor  3.618400e-01
4       blackw  3.406414e-01
..         ...           ...
177     ebonym  2.190653e-26
178  obsidianc  1.141568e-26
179   outrider  0.000000e+00
180     bettyb  2.153191e-04
181    stanlee  4.295704e-02

[182 rows x 2 columns]

In [26]:
hubdf.sort_values(by=1,ascending=False)[:10]

         0         1
0    tonys  0.386675
3     thor  0.361840
1   stever  0.360263
4   blackw  0.340641
2   bruceb  0.281668
5    rhody  0.256534
6    hawke  0.253366
79   bucky  0.214986
52    loki  0.197131
8   falcon  0.170805