In [1]:
import pandas as pd
data = pd.read_csv('data.csv')
columns = ['begin','end']
data = data[columns]
data

            begin         end
0      5503968735  1864469905
1      5503968735  5141050161
2      5503968735  2649761871
3      5503968735  1891849065
4      5503968735  1875333245
...           ...         ...
35076  2629784083  1498613973
35077  2629784083  2730557667
35078  2629784083  1496832197
35079  2629784083  1745692510
35080  2629784083  1280463227

[35081 rows x 2 columns]

In [2]:
for row in data:
    print(row)

begin
end